VITE_SUPABASE_URL=https://rkunyruxwzsxmwggjbms.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrdW55cnV4d3pzeG13Z2dqYm1zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1NDU0NzIsImV4cCI6MjEwNDEyMTQ3Mn0.0OqhT8bLw2E0fI3JDVFQY-kQf7S4veKJVs_D8-yllds
